<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="m_jk.mvjek.firsttest"/>
      <class name="m_jk.mvjek.second_Test"/>
	  <class name="m_jk.mvjek.thirdtest"/>
	  <class name="m_jk.mvjek.forthtest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
